% import datetime
% import timeago


% now = datetime.datetime.now()

% if not is_fetch:
  % include("base", title="Profile")
% end

<main class="profile-wrapper" data-spa_url="/profile/{{ person['username'] }}" data-spa_title="Profile">
  % if person:
  <section class="card profile">
    <div class="profile__cover" style="--color: {{ person['hex_color'] }};">
      <div class="user-color" style="--color: {{ person['hex_color'] }}"></div>
    </div>
    <div class="profile__bio">
      <div class="text">
        <div class="name">{{ person["first_name"] }} {{ person["last_name"] }}</div>
        <div class="username">@{{ person["username"] }}</div>
      </div>
    </div>
  </section>
  % else:
    <h1>User not found</h1>
  % end
  <section class="posts">
    % for post in posts:
      <article class="post">
        <div class="post__header">
          <div
            class="color"
            style="--color: {{ post['hex_color'] }}"
          ></div>
          <h3 class="name">
            {{ post["first_name"] }} {{ post["last_name"] }}
          </h3>
          <div class="time-created" title="{{ post['created_at'] }}">
            {{ timeago.format(int(post["created_at"]), now) }}
          </div>
        </div>
        <div class="post__content">{{ post["text"] }}</div>
        <div class="post__footer"></div>
      </article>
    % end
  </section>
</main>

% if not is_fetch:
  % include("footer")
% end
