% import datetime
% import timeago


% now = datetime.datetime.now()

% if not is_fetch:
  % include("base", title="Profile")
% end

<main class="profile-wrapper" data-spa_url="/profile/{{ person['username'] }}" data-spa_title="Profile">
  % if person:
  <section class="card profile">
    <div class="profile__cover">
      <div class="profile__upload" style="--color: {{ person['hex_color'] }}; --url: url('/images/{{ person['image'] }}')">
      </div>
    </div>
    <div class="profile__bio">
      <div class="text">
        <div class="name">{{ person["first_name"] }} {{ person["last_name"] }}</div>
        <div class="username">@{{ person["username"] }}</div>
        <div class="bio">{{ person["bio"] or "" }}</div>
      </div>
      % if get("user") and user["username"] == person["username"]:
        <button class="button-gray" onclick="openFileModal()">Change profile picture</button>
      % end
    </div>
  </section>
  % else:
    <h1>User not found</h1>
  % end
  <section class="posts posts--editable">
    % if not posts:
      <article class="post post--empty">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm6 9a3 3 0 0 0 6 0h5V5H4v7h5z"/></svg>
        <span>No posts yet</span>
      </article>
    % else:
      % for post in posts:
        % include("post")
      % end
    % end
  </section>
  % include("file-upload")
</main>


% if not is_fetch:
  % include("footer")
% end
