<aside class="sidebar">
  % if get("user", False):
    <div class="profile">
      <div class="profile__cover" style="--color: {{ user['hex_color'] }};">
        <div class="user-color" style="--color: {{ user['hex_color'] }}"></div>
      </div>
      <div class="profile__card">
        <a href="/profile/{{ user['username'] }}" onclick="spa(this); return false"><h2>{{ user["first_name"] }} {{ user["last_name"] }}</h2></a>
        <span>{{ user['email'] }}</span>
        <div class="follow">
          <a href="/following" class="link" onclick="spa(this); return false">Following</a> | 
          <a href="/followers" class="link" onclick="spa(this); return false">Followers</a>
        </div>
      </div>
      <button class="button-gray has-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z"/></svg>Log out</button>
    </div>  
  % end
</aside>