% if not is_fetch:
  % include("base", title="Home")
% end
<main class="content" data-spa_url="/signup" data-spa_title="Sign up">
  <h1>Sign up</h1>
  <form action="/signup" method="post" class="form" onsubmit="return validate(this)">
    <div class="field">
      <label for="username">Username</label>
      <div class="control">
        <input
          type="text"
          name="username"
          placeholder="johndoe"
          id="username"
          class="input"
          data-validate="str"
          data-min="1"
          data-max="50"
        />
        <span class="error hidden">Username must be between 1 and 50 characters</span>
      </div>
    </div>
    <div class="field">
      <label for="first_name">First Name</label>
      <div class="control">
        <input
          type="text"
          name="first_name"
          placeholder="John"
          id="first_name"
          class="input"
          data-validate="str"
          data-min="1"
          data-max="50"
        />
        <span class="error hidden">First name must be between 1 and 50 characters</span>
      </div>
    </div>
    <div class="field">
      <label for="last_name">Last Name</label>
      <div class="control">
        <input
          type="text"
          name="last_name"
          id="last_name"
          placeholder="Doe"
          class="input"
          data-validate="str"
          data-min="1"
          data-max="50"
        />
        <span class="error hidden">Last name must be between 1 and 50 characters</span>
      </div>
    </div>
    <div class="field">
      <label for="bio">Bio</label>
      <div class="control">
        <input
          type="text"
          name="bio"
          id="bio"
          placeholder="..."
          class="input"
        />
      </div>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <div class="control">
        <input
          type="text"
          name="email"
          id="email"
          placeholder="johndoe@email.com"
          class="input"
          data-validate="email"
        />
        <span class="error hidden">Not a valid email</span>
      </div>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <div class="control">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="**********"
          class="input"
          data-validate="str"
          data-min="1"
          data-max="50"
        />
        <span class="error hidden">Password has to be between 1 and 50 characters</span>
      </div>
    </div>
    % if get('error', '') == "already_exists":
      <span class="error">
        This username or email address already exists
      </span>
    % end 
    <div class="field">
      <div class="control">
        <button class="button button--primary"><span>Sign up</span></button>
      </div>
    </div>
    
  </form>
</main>
% if not is_fetch:
  % include("footer")
% end
