% if not is_fetch:
  % include("base", title="Users")
% end
<main class="content" data-spa_url="/users" data-spa_title="All users">
  <h1>Users:</h1>
  % if not users:
  <div class="table users">No Users</div>
  % else:
  <table class="table is-fullwidth users">
    <thead>
      <tr>
        <th>Color</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      % for user in users:
      <tr>
        <td class="color" style="--color: {{ user['hex_color'] }}; --url: url('/images/{{ user['image'] }}')"></td>
        <td>{{ user['first_name'] }}</td>
        <td>{{ user['last_name'] }}</td>
        <td>{{ user['email'] }}</td>
      </tr>
      % end
    </tbody>
  </table>
  % end
</main>
% if not is_fetch:
  % include("footer")
% end
